<div *ngIf="loading" class="signal"></div>
<div [hidden]="loading" class="feed animated fadeIn">
  <ul class="feed__list">
    <li class="song" *ngFor="let song of feed">
      <div class="placeholder placeholder__feed">
        <div (click)="cue(song)" class="image image__feed" [ngStyle]="getBgImg(song.album.cover_small)"></div>
      </div>
      <div class="song__info">
        <span class="title">{{shorten(song.title,25)}}</span>
        <span class="artist">{{song.artist.name}}</span>          
      </div>
      <div class="rank">
        <i (click)="likeSong(song)" [ngClass]="{'liked':isLiked(love.likes,song.id)}" class="fa fa-heart fav"></i>
      </div>
    </li>
  </ul>
</div>