<div *ngIf="loading" class="signal"></div>
<form autocomplete="off" (submit)="search($event)" class="search__form">
    <input type="text" class="search__form__field" placeholder="Search">
  </form>
  <div [hidden]="loading" class="animated fadeIn">
    <div *ngIf="searchResults"  class="res__header">
    <h3 class="res__header__label">Search results for "{{term}}"</h3>
  </div>
  <div *ngIf="searchResults" class="search__results">
    <div  *ngFor="let res of searchResults" class="res">
      <div class="placeholder">
        <div (click)="cue(res)" class="image" [ngStyle]="getBgImg(res.album.cover_small)">
      </div>
      </div>
      
      <div class="res__info">
        <span class="title">{{shorten(res.title,12)}}</span>
        <span class="artist">{{shorten(res.artist.name,12)}}</span>
      </div>
      
    </div>
  </div>
  </div>